= content_for :title do
  = "#{@search_query.to_s}"
= content_for :content do
  .search-queries-view
    %h1
      = "#{@search_query.to_s}"
      %small(data-bind="text: formatted_status")

    %table.no-borders.search-items-table
      %tbody(data-bind="foreach: search_items")
        %tr.search-item
          %td.search-item-thumbnail
            %a.th
              %img.profile-pic(data-bind="attr: {src: profile_pic}")
          %td
            .profile-description
              %h4
                %a.full-name(data-bind="text: name, attr: {href: href}")
                %span.number_of_surfers(data-bind="if: number_of_surfers > 1")
                  %span(data-bind="text: '+' + (parseInt(number_of_surfers)-1)")
                %small
                  %strong
                    %span(data-bind="text: gender + ', ' + age + '.'")
                %small
                  %span.country(data-bind="text: lives_in")
              .created_at
                First appeared at:
              %span.created_at_time(data-bind="text: created_at")

              %p
                .occupation(data-bind="if: occupation")
                  %strong Occupation:
                  %span(data-bind="text: occupation")
                .mission(data-bind="if: mission")
                  %strong Mission:
                  %span(data-bind="text: mission")
                .about(data-bind="if: about")
                  %strong About:
                  %blockquote(data-bind="text: about")
                .open-request(data-bind="if: open_request")
                  %strong
                    Open Request
                    %span.request-dates(data-bind="if: (arrival_date || departure_date)")
                      from
                      %span(data-bind="text: arrival_date")
                      till
                      %span(data-bind="text: departure_date")
                  %blockquote(data-bind="text: open_request")
