= content_for :title do
  = "#{@search_query.to_s}"
= content_for :content do
  .search-queries-view
    %h1
      = "#{@search_query.to_s}"
      %small= "(#{@search_items.count} of them) #{updated_time_ago(@last_update)}"

    %table.no-borders.search-items-table
      %tbody
        - @search_items.each do |search_item|
          = render search_item
